#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 9999;
    transition: opacity 1s ease, filter 1s ease; /* Efek transisi */
}

/* Kelas untuk efek blur dan menghilangkan elemen */
.blur-out {
    filter: blur(10px); /* Tingkat blur */
    opacity: 0; /* Transisi untuk menghilangkan elemen */
}
#loading img {
    max-width: 180px; /* Sesuaikan ukuran gambar */
    max-height: 180px;
}